.caterpiller1 {
  width: 80vw;
  object-fit: cover;
  position: absolute;
  left: 10%;
  z-index: -1;
  animation: expand 1.2s forwards;
  height: 10vw;
  top: 25vw;
}

@keyframes expand {
  0% {
    width: 80vw;
    height: 10vw;
    object-fit: cover;
    filter: grayscale(1);
    position: absolute;

    left: 10%;
    z-index: -1;
  }
  80% {
    height: 500px;
    object-fit: cover;
    object-position: left;
  }
  100% {
    height: 500px;
    filter: grayscale(0);
    object-fit: cover;
    /* filter: grayscale(0); */
    object-position: center;
    transform: translateY(-100px);
  }
}

.cater1 {
  font-size: 15vw;
  color: white;
  animation: slide-from-up 1.2s forwards;
  mix-blend-mode: difference;
}
.cater {
  height: 800px;
}
.cater2 {
  position: absolute;
  right: 30px;
  max-width: 30vw;
  font-size: 3vw;
  top: 400px;
  font-weight: 600;
  color: rgb(255, 255, 255);
  mix-blend-mode: difference;
  animation: slide-from-bottom 1.6s forwards;
}

@keyframes slide-from-up {
  0% {
    transform: translateY(-100px);
    opacity: 0;
  }
  100% {
    transform: translateY(100px);
    opacity: 1;
  }
}
@keyframes slide-from-bottom {
  0% {
    transform: translateY(100px);
    opacity: 0;
  }
  30% {
    opacity: 0;
  }
  100% {
    transform: translateY(0px);
    opacity: 1;
  }
}

.main-cart {
  font-size: 6vw;
  text-decoration: none;
  color: rgb(255, 255, 255);
  font-weight: 600;
  text-align: right;
  position: fixed;
  right: 1vw;
  mix-blend-mode: difference;
}

.cater-list {
  list-style: none;
}

.coming-soon {
  margin-top: 3vw;
  mix-blend-mode: normal;
  color: rgb(255, 255, 0);
}

.space {
  height: 50vh;
}
