.header {
  text-align: left;
  font-weight: 600;
  height: 100vh;
  position: relative;
  overflow-y: hidden;
}

.nav-bar {
  display: flex;
  justify-content: space-around;
  align-items: center;
  font-size: 1em;
}

.nav-bar > * {
  font-size: 6vw;
  text-decoration: none;
  color: black;
}
.title {
  font-size: 30vw;
  mix-blend-mode: difference;
  color: white;
  flex-direction: column;
  display: flex;
  align-items: center;
  text-align: center;
  justify-content: center;
}
.header-title {
  text-align: center;
}
.bottom-bar {
  display: flex;

  justify-content: center;
}
.line {
  width: 100vw;
  height: 10px;
  background-color: white;

  bottom: 0;
  position: fixed;
}

.container {
  text-align: center;
}

.caterpiller {
  width: 80vw;
  height: 200px;
  object-fit: cover;

  position: absolute;
  top: 60%;
  left: 10%;
  z-index: -1;
}
