.product-image-container {
  display: flex;
  justify-content: left;
}

.product {
  margin-bottom: 10vw;
  margin-left: 1vw;
}

.product-image {
  width: 80vw;
  object-fit: cover;
  object-position: bottom;
  opacity: 0;
}
.image-animation {
  animation: expand1 0.7s forwards;
}
@keyframes expand1 {
  0% {
    height: 1vw;
    opacity: 0;
    object-fit: cover;
  }
  80% {
    height: 40vw;
    object-fit: cover;
    object-position: left;
  }
  100% {
    opacity: 1;
    height: 40vw;
    object-fit: cover;
    object-position: center;
  }
}

.product-name {
  font-size: 10vw;

  font-weight: 600;
  color: rgb(255, 255, 255);
  mix-blend-mode: difference;
}

.product-description {
  font-size: 2vw;

  font-weight: 600;
  color: rgb(99, 99, 99);
}

.product-price {
  font-size: 3vw;

  max-width: 45vw;
  font-weight: 600;

  color: rgb(0, 0, 0);
}

.product-status {
  font-size: 3vw;

  max-width: 25vw;
  font-weight: 600;

  color: rgb(60, 60, 60);
}
.product-quantity {
  font-size: 3vw;

  max-width: 25vw;
  font-weight: 600;

  color: rgb(255, 153, 0);
}

.add-to-cart-button {
  background-color: transparent;
  border: none;
  font-family: poppins;
  font-weight: 900;
  font-size: 3vw;
  margin-top: 2vw;
  cursor: pointer;
}

@media screen and (min-width: 768px) {
  .product-image {
    width: 25vw;
    height: 10vw;
    object-fit: cover;
  }

  .image-animation {
    animation: expand1 0.4s forwards;
  }
  .product-name {
    font-size: 5vw;
  }
  .product-description {
    font-size: 1vw;
  }
  .product-price {
    font-size: 2vw;
  }
  .product-status {
    font-size: 2vw;
  }
  .product-quantity {
    font-size: 2vw;
  }
  .add-to-cart-button {
    font-size: 2vw;
  }
  .bruh {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: flex-start;
  }

  @keyframes expand1 {
    0% {
      height: 1vw;
      opacity: 0;
      object-fit: cover;
    }
    80% {
      height: 25vw;
      object-fit: cover;
    }
    100% {
      opacity: 1;
      height: 25vw;
      object-fit: cover;
      object-position: center;
    }
  }
}
