.product-image-container {
  height: 50vw;
  display: flex;
  justify-content: center;
}

.product-image {
  width: 80vw;
  object-fit: cover;
  object-position: bottom;
  opacity: 0;
}
.image-animation {
  animation: expand1 1.2s forwards;
}
@keyframes expand1 {
  0% {
    height: 1vw;
    opacity: 0;
    object-fit: cover;
  }
  80% {
    height: 40vw;
    object-fit: cover;
    object-position: left;
  }
  100% {
    opacity: 1;
    height: 40vw;
    object-fit: cover;
    object-position: center;
  }
}
