body {
  margin: 0;
  font-family: "Roboto", -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto",
    "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  padding: 0;
  background-color: purple;
}
html,
body {
  scroll-behavior: smooth;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

::-webkit-scrollbar {
  width: 4px;
}
::-webkit-scrollbar-track {
  background: #414141;
}
::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 10px;
}
::-webkit-scrollbar-thumb:hover {
  background: #555;
}

:root {
  --step--10: clamp(0.16rem, calc(0.23rem + -0.1vw), 0.21rem);
  --step--9: clamp(0.2rem, calc(0.28rem + -0.1vw), 0.25rem);
  --step--8: clamp(0.25rem, calc(0.33rem + -0.1vw), 0.31rem);
  --step--7: clamp(0.31rem, calc(0.39rem + -0.1vw), 0.37rem);
  --step--6: clamp(0.39rem, calc(0.46rem + -0.09vw), 0.44rem);
  --step--5: clamp(0.49rem, calc(0.54rem + -0.07vw), 0.53rem);
  --step--4: clamp(0.61rem, calc(0.64rem + -0.04vw), 0.63rem);
  --step--3: clamp(0.76rem, calc(0.76rem + 0.02vw), 0.77rem);
  --step--2: clamp(0.91rem, calc(0.89rem + 0.1vw), 0.96rem);
  --step--1: clamp(1.09rem, calc(1.05rem + 0.21vw), 1.2rem);
  --step-0: clamp(1.31rem, calc(1.24rem + 0.37vw), 1.5rem);
  --step-1: clamp(1.58rem, calc(1.46rem + 0.59vw), 1.88rem);
  --step-2: clamp(1.89rem, calc(1.71rem + 0.89vw), 2.34rem);
  --step-3: clamp(2.27rem, calc(2.01rem + 1.29vw), 2.93rem);
  --step-4: clamp(2.72rem, calc(2.36rem + 1.83vw), 3.66rem);
  --step-5: clamp(3.27rem, calc(2.75rem + 2.56vw), 4.58rem);
  --step-6: clamp(3.92rem, calc(3.22rem + 3.52vw), 5.72rem);
  --step-7: clamp(4.7rem, calc(3.75rem + 4.78vw), 7.15rem);
  --step-8: clamp(5.64rem, calc(4.36rem + 6.43vw), 8.94rem);
  --step-9: clamp(6.77rem, calc(5.05rem + 8.59vw), 11.18rem);
  --step-10: clamp(8.13rem, calc(5.85rem + 11.4vw), 13.97rem);
}
